# utils
psutil>=5.9.0
ruamel.yaml>=0.17.21
scipy>=1.9.3
tqdm>=4.64.1
opencv-python>=4.5.5.64
fast-histogram>=0.11
numpy<=1.26.4

accelerate>=0.26.0
tabulate
pandas
prettytable

timm>=1.0.15
SentencePiece>=0.2.0

# base
onnx>=1.16.0,<=1.18.0
onnxruntime>=1.20.0
# tensorflow>=2.8.0rc0,<=2.14.0

torch>=2.6.0,<2.9.0
transformers==4.51.3
optimum==1.26.1
peft==0.15.2

protobuf>=4.21.6,<=4.25.4

# tokenizer
mistral-common>=1.8.3

modelscope
